@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

body {
  font-family: "Roboto", Arial, sans-serif;
  min-height: 100vh;
  background-color: #101010;
}

main {
  padding: 5rem 2rem;
}

h1 {
  font-size: 5rem;
	padding: 0rem 4rem;
	letter-spacing: .01em;
	text-shadow: .022em .022em .022em #111;
	color: #fff;
}

p {
	font-size: 2rem;
  line-height: 1.3em;
	margin-bottom: 1.5em;
	color: #fff;
}
